@model Metroiten.Data.Models.Restaurant
<div class="col-sm-4">
    <div class="card" style="width: 16rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Cuisine</h6>
            <p class="card-text">@Model.Description</p>
            <a asp-action="Detail" class="card-link" asp-route-id="@Model.Id">Detail</a>
            <a asp-page="/Restaurants/Edit" class="card-link" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>
</div>
